<form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
	<div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
      <div class="modal-body">
			<div class="form-group col-md-6">
				<label for="id" class="col-form-label">ID</label>
				<input type="text" th:value="*{id}" class="form-control" id="id" name="id" disabled="true" placeholder="ID">
			</div>
			<div class="form-group col-md-6">
				<label for="firstName" class="col-form-label">First name</label>
				<input type="text" th:value="*{firstName}" class="form-control" id="firstName" name="firstName" placeholder="First name">
			</div>
			<div class="form-group col-md-6">
				<label for="lastName" class="col-form-label">Last name</label>
				<input type="text" th:value="*{lastName}" class="form-control" id="lastName" name="lastName" placeholder="Last name">
			</div>
			<div class="form-group col-md-6">
				<label for="age" class="col-form-label">Age</label>
				<input type="text" th:value="*{age}" class="form-control" id="age" name="age" placeholder="Age">
			</div>
			<div class="form-group col-md-6">
				<label for="email" class="col-form-label">Email</label>
				<input type="email" th:value="*{email}" class="form-control" id="email" name="email" placeholder="Email">
			</div>
			<div class="form-group col-md-6">
				<label for="password" class="col-form-label">Password</label>
				<input type="password" th:value="*{password}" class="form-control" id="password" name="password" placeholder="Password">
			</div>
			<!-- <div class="form-group col-md-6">
				<label for="roles" class="col-form-label">Roles</label>
				<input type="text" th:value="${#strings.setJoin(user.roles, ', ')}" class="form-control" id="roles" name="roles" placeholder="Roles">
			</div> -->
			<div class="mb-3">
				  <select th:field="*{roles}" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
					<option selected th:value="${#strings.setJoin(user.roles, ', ')}"></option>
					<option value="USER">USER</option>
					<option value="ADMIN">ADMIN</option>
					<option value="ADMIN, USER">ADMIN, USER</option>
				  </select>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
<form>