<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link href="/css/style.css" rel="stylesheet">
	<style>
		#main{ height: 200px; overflow: auto;}
	</style>
  </head>
  <body class="bg-light">
	<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark"
			th:insert="fragments :: header"> </header>
	
	<nav id="sidebarMenu" th:insert="fragments :: userSidebar"></nav>
	<h2 id="user-info"> User-information page</h2>
	<div id="main" class="container-fluid bg-white d-flex flex-column"
		th:insert="fragments :: userPanel(users=${users})">
	</div>
  </body>
</html>
